.ab-cons {
    width: 100%;
    position: relative;
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    margin-top: 113px;
}

.team-cons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.team-mem-con {
    border: 1px solid black;
    border-radius: 16px;
    height: 300px;
    width: 250px;
}

img {
    border-radius: 16px;
    padding: 8px;
}

.tm-nm {
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.job-tit {
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.team-mem-con:active {
    width: 400px;
    height: 400px;
    transition: .7s all;
}