.product-con {
    height: 550px;
    width: 100%;
    margin-top: 113px;
}

.product-header {
    font-size: 64px;
}

.product-head-con {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.product-content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

p {
    height: 300px;
    width: 500px;
}

.jolo-img-con {
    position: relative;
}

.jolop-phne-img {
    transform: rotate(1035deg);
}

.joloo-mob-app-logo {
    position: absolute;
    top: 0;
    right: -80px;
}